In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("hacker_news_stories.csv")
data

,by,descendants,id,kids,score,time,title,text,type,url
0,pg,15,1,"[15, 234509, 487171, 82729]",57,1160418111,Y Combinator,NaN,story,http://ycombinator.com
1,phyllis,0,2,NaN,16,1160418628,A Student's Guide to Startups,NaN,story,http://www.paulgraham.com/mit.html
2,phyllis,0,3,[531602],7,1160419233,Woz Interview: the early days of Apple,NaN,story,http://www.foundersatwork.com/stevewozniak.html
3,onebeerdave,0,4,NaN,5,1160419662,NYC Developer Dilemma,NaN,story,http://avc.blogs.com/a_vc/2006/10/the_nyc_deve...
4,perler,0,5,NaN,7,1160419864,"Google, YouTube acquisition announcement could...",NaN,story,http://www.techcrunch.com/2006/10/09/google-yo...
...,...,...,...,...,...,...,...,...,...,...
2781,BitGeek,3,9969,"[9991, 9970, 9993]",11,1175936383,Amazon reveals new web service: Amazon Simple ...,NaN,story,http://seattle.craigslist.org/see/eng/29927987...
2782,JMiao,2,9968,"[10025, 10032]",5,1175935058,All I Need To Know To Be A Better Programmer I...,NaN,story,http://codist.biit.com/fiche/thecodist/article...
2783,farmer,1,9976,[10144],7,1175938380,Mossberg: Using Even New PCs Is Ruined by a Ta...,NaN,story,http://ptech.wsj.com/archive/ptech-20070405.html
2784,theoutlander,27,9986,"[10031, 10252, 9997, 10657, 10057, 10096, 1010...",8,1175941821,"Applicant Demographics: Location, Team size an...",NaN,story,NaN
2785,danw,0,9996,NaN,3,1175944615,The Sidebar Syndrome,NaN,story,http://www.readwriteweb.com/archives/the_sideb...